{% extends 'base.html.twig' %}
{% block title %}Candidature{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% include 'commons/_headerLittle.html.twig' %}
    <main class="">
        hello world
    </main>
    {% include 'commons/_footer.html.twig' %}
{% endblock %}