{% extends 'base.html.twig' %}
{% block title %}Jeux concours{% endblock %}
{% block body %}
    <main class="jeuxConcours">
        <div>
            <a class="buttonNavbar bounce" href="{{ path ('home') }}">
                <h1 class="alignTitleExclu">Visitez notre site</h1>
            </a>
        </div>
        <div class="logoConcours">
            <img class="logoConcours" src="{{ asset('asset/img/logo_dr_sans.svg') }}" alt="logo_dropshipresource" title="logo_dropshipresource">
        </div>
        <h1 class="concoursTitle">REGLEMENT DU JEU SANS OBLIGATION D’ACHAT « #unsitepourlarentrée » <br><br>ORGANISÉ PAR LA SOCIÉTÉ JSDIGITALWEB</h1>
        <p class="textealigncenter">DU 26/08/2020 AU 16/10/2020</p>
        <h2>Article 1 – OBJET</h2>
        <p>
            La société JSDIGITALWEB (nom commercial Dropship Resource), SASUau capital de 100 euros, immatriculée au RCS de Bordeaux sous le numéro 882 165 657, dont le siège social est situé 52 rue du Maréchal Foch 33560 Carbon Blanc, représentée par Juan Sebastian RONDON CASTANO en sa qualité de Président  (ci-après l’« Organisateur »), organise du 26 août 2020, à partir de 19h00, au 16 octobre  2020, 23h59 un jeu sans obligation d’achat intitulé «#unsitepourlarentrée» (ci-après le « Jeu »), uniquement accessible sur la Page  Instagram de la Société Organisatrice à l’adresse suivante : (ci-après la « Fan Page »).
        </p>
        <p>
            <strong>Le Jeu n’est pas parrainé ni géré par Instagram</strong>. Par suite, tous commentaires, questions ou réclamations concernant le Jeu devront être adressés à la Société Organisatrice et non à Instagram. Les informations communiquées par les participants sont fournies à la Société Organisatrice et non à Instagram.
        </p>
        <h2>Article 2 – PARTICIPATION</h2>
        <h3>2.1. Accès au Jeu</h3>
        <p>
            Le Jeu est ouvert à toute personne physique majeure, résidant en France Métropolitaine (ci-après le « Participant »), à l’exception des membres du personnel des structures organisatrices du Jeu, et de toute personne ayant participé directement ou indirectement à son organisation ou à sa réalisation, ainsi que leur conjoint (mariage, PACS, concubinage) et les membres de leur famille : ascendants et descendants en ligne directe.
        </p>
        <p>
            La participation au Jeu est limitée à une seule participation par foyer (même nom, même adresse) et par jour pour toute la durée du Jeu. La participation est strictement nominative et le Participant ne peut en aucun cas jouer sous plusieurs pseudonymes ou pour le compte d’autres personnes.
        </p>
        <p>
            La Société Organisatrice se réserve le droit de demander à tout Participant de justifier de ces conditions. Tout Participant ne remplissant pas ces conditions ou refusant de les justifier sera exclu du Jeu et ne pourra, en cas de gain, bénéficier de son lot.
        </p>
        <p>
            De même, toute fausse déclaration, indication d’identité ou d’adresse entraînera l’élimination immédiate du Participant et, le cas échéant, le remboursement du (des) lot(s) qui lui aurai(en)t déjà été envoyé(s).
        </p>
        <p>
            La participation au Jeu implique l’entière acceptation du présent règlement.
        </p>
        <h3>2.2. Modalités de participation</h3>
        <p>
            La participation au Jeu se fait via la Fan Page uniquement. A ce titre, le Participant doit disposer d’une connexion à internet et d’un compte Instagram. Aucune inscription ne peut se faire par téléphone, télécopie, courrier postal ou courrier électronique.
        </p>
        <p>
            Pour participer, il suffit de suivre le compte Instagram de Dropship Resource (@dropshipresource), d’aimer la publication et d’identifier 2 amis pendant la durée du jeu #unsitepourlarentrée. 2 (deux) gagnants seront désignés par tirage au sort réalisé par la Société Organisatrice parmi les posts de tous les Participants, dans un délai de 30 (trente) jours suivant la fin du Jeu. Chaque gagnant aura droit à une dotation dans les conditions visées à l’article 4 du présent règlement.
        </p>
        <h3>
            2.3. Validité de la participation
        </h3>
        <p>
            Les informations et coordonnées fournies par le Participant doivent être valides et sincères, sous peine d'exclusion du Jeu et, le cas échéant, de perte de la qualité de gagnant.
        </p>
        <p>
            Il est rigoureusement interdit, par quelque procédé que ce soit, de modifier ou de tenter de modifier les dispositifs du Jeu, afin d'en modifier les résultats ou d'influencer par un moyen automatisé et/ou déloyal la désignation d'un gagnant.
        </p>
        <p>
            Chaque Participant s’interdit de recourir, directement ou indirectement, à tout mode d’interrogation ou de requête systématisée du réseau social Instagram.
        </p>
        <p>
            Dans l’hypothèse où un Participant aura apparemment gagné une dotation en contravention avec le présent règlement, par des moyens frauduleux, tels qu'une recherche automatisée (par exemple : logiciels de recherches, de participation, de gestion automatisée, ou l’emploi d’un algorithme etc.) ou déloyale (par exemple : inscription à des groupes d’entraide ou d’échanges de votes ou tout procédé similaire), ou par tous moyens autres que ceux résultant du processus décrit par la Société Organisatrice par le présent règlement, son lot ne lui serait pas attribué et resterait propriété de la Société Organisatrice, sans préjudice des éventuelles poursuites susceptibles d'être intentées à l'encontre du Participant par la Société Organisatrice ou par des tiers.
        </p>
        <h2>Article 3 – DESIGNATION DES GAGNANTS – ATTRIBUTION DES DOTATIONS</h2>
        <h3>3.1. Désignation des gagnants</h3>
        <p>
            Les Gagnants sont désignés conformément aux dispositions de l’article 2.2 du présent règlement par la Société Organisatrice, dans un délai de 30 (trente) jours suivant la fin du Jeu. La date officielle pour l'annonce des gagnants est le 23 octobre 2020.
        </p>
        <p>
            La Société Organisatrice informera de la désignation des gagnants et des modalités pour bénéficier des lots de la manière suivante :
        </p>
        <p>
            Par message privé sur le compte personnel Instagram des gagnants utilisé pour participer au Jeu, ce que chaque Participant accepte expressément.
        </p>
        <p>
            À cet égard, la Société Organisatrice ne pourra être tenue pour responsable de l’envoi du message sur un compte inexact du fait d’une erreur de la part du Participant, ni du dysfonctionnement du dispositif d’envoi de message.
        </p>
        <h3>3.2. Attribution des dotations</h3>
        <p>
            Chaque gagnant devra, par retour à ce message privé, et ce dans les 15 (quinze) jours de l’expédition par la Société Organisatrice du message confirmant le gain, indiquer le lot qu’il souhaite recevoir (cf. l’article 4 ci-après) et communiquer ses coordonnées (nom, prénom, adresse email, numéro de téléphone) pour pouvoir réceptionner le lot.
        </p>
        <p>
            Le silence du gagnant dans le délai susvisé, vaudra renonciation pure et simple à son lot.
        </p>
        <p>
            La dotation sera remise en main propre dans un délai de 30 (trente) jours suivant l’envoi du message de confirmation envoyé à La Société Organisatrice.
        </p>
        <p>
            La Société Organisatrice ne pourra être tenue pour responsable de l’envoi de la dotation à une adresse inexacte du fait d’une erreur que le gagnant aura commise en indiquant ses coordonnées.
        </p>
        <h2>
            Article 4 – DOTATIONS
        </h2>
        <p>
            Chaque gagnant remportera le lot suivant : un site vitrine d’une valeur de 2400 € TTC pour le premier lot, la création d’un logo ou d’un design print au choix pour le second lot. Chaque gagnant s’engage à accepter son lot tel que proposé, sans possibilité de l’échanger notamment contre des espèces ou d’autres biens ou services de quelque nature que ce soit.
        </p>
        <p>
            La Société Organisatrice se réserve le droit de remplacer toute dotation par une autre dotation équivalente en valeur ou caractéristiques, pour quelque cause que ce soit sans que sa responsabilité ne puisse être engagée à cet égard.
        </p>
        <h2>
            Article 5 – UTILISATION DES DONNÉES PERSONNELLES
        </h2>
        <p>
            5.1.    	Dans le cadre du Jeu, les Participants communiquent à la Société Organisatrice, qui en sera l’unique destinataire, des données personnelles les concernant.
        </p>
        <p>
            Les données personnelles des Participants font l’objet d’un traitement dont le responsable de traitement est la société dénommée « Société Organisatrice » pour les besoins du Jeu, dont les coordonnées sont indiquées en préambule du présent règlement de Jeu.
        </p>
        <p>
            Les données collectées lors de la participation au Jeu sont nécessaires à la participation au Jeu (pseudonyme du compte Instagram, ou nom et prénom de l’utilisateur servant d’appellation au compte Instagram) et les données qui sont collectées auprès des participants gagnants sont nécessaires à l’attribution des dotations (nom, prénom, adresse email, numéro de téléphone).
        </p>
        <p>
            Leur absence de collecte rendra inaccessible toute participation au Jeu et ne permettra pas l’attribution des dotations. Les Participants garantissent la transmission d’informations exactes et s’engagent à transmettre dans les plus brefs délais toute modification les concernant.
        </p>
        <p>
            Les données personnelles des Participants seront utilisées dans le cadre des seules finalités suivantes : assurer la bonne gestion du Jeu, conformément au présent règlement et satisfaire aux obligations légales et réglementaires.
        </p>
        <p>
            5.3.    	Chaque Participant a un droit d’accès, de rectification, de limitation, de portabilité, d’opposition, d’effacement au traitement de ses données, de retrait de son consentement, à tout moment, et définir des directives post-mortem. Ces droits peuvent être exercés par email à contact@dropshipresource.com ou par courrier à l’adresse ci-dessous :
            <br>
            <br>
            -JSDIGITALWEB (Dropship Resource)
            <br>
            -Jeu Instagram #unsitepourlarentrée
            <br>
            -52 rue du Maréchal Foch
            <br>
            -335560 Carbon Blanc
        </p>
        <p>
            5.4.    	A la condition que les gagnants aient accepté la collecte de leurs données personnelles conformément aux dispositions précédentes, les gagnants autorisent expressément la Société Organisatrice à utiliser à titre publicitaire ou de relations publiques leurs coordonnées (nom, prénom, ville), sur quel que support que ce soit dont internet, sans restriction ni réserve, pendant une durée maximum de un (1) an à compter de la date de clôture du Jeu et sans que cela leur confère un droit à rémunération ou un avantage quelconque autre que l’attribution de sa dotation.
        </p>
        <h2>Article 6 – LIMITATION DE LA RESPONSABILITÉ</h2>
        <p>
            La participation au Jeu implique l'acceptation sans réserve du présent règlement dans son intégralité, des règles de déontologie en vigueur pour l'Internet, ainsi que des lois, règlements et autres textes applicables en France.
        </p>
        <p>
            La participation au Jeu implique la connaissance et l'acceptation des caractéristiques et des limites de l'Internet, notamment en ce qui concerne les performances techniques, les temps de réponse pour consulter, interroger ou transférer des informations, les risques d'interruption, et plus généralement, les risques inhérents à toute connexion et transmission sur Internet, l'absence de protection de certaines données contre des détournements éventuels et les risques de contamination par d'éventuels virus circulant sur le réseau Internet.
        </p>
        <p>
            En conséquence, la Société Organisatrice ne saurait, en aucune circonstance, être tenue responsable, sans que cette liste soit limitative :
            <br>
            <br>
            - du contenu des services consultés sur la Fan Page et sur Instagram, et, de manière générale, de toutes informations et/ou données diffusées sur les services consultés sur la Fan Page, sur Instagram;
            <br>

            - de la transmission et/ou de la réception de toute donnée et/ou information sur Internet ;
            <br>

            - de tout dysfonctionnement du réseau Internet empêchant le bon déroulement ou fonctionnement du Jeu ;
            <br>

            - de défaillance de tout matériel de réception ou des lignes de communication ;
            <br>

            - de perte  de toute donnée ;
            <br>

            - des problèmes d'acheminement;
            <br>

            - du fonctionnement de tout logiciel ;
            <br>

            - des conséquences de tout virus, bogue informatique, anomalie, défaillance technique
            <br>

            - de tout dommage causé à l'ordinateur d'un Participant ;
            <br>

            - de toute défaillance technique, matérielle et logicielle de quelque nature, ayant empêché ou limité la possibilité de participer au Jeu ou ayant endommagé le système d'un Participant.
        </p>
        <p>
            Il est précisé que la Société Organisatrice ne peut être tenue responsable de tout dommage direct ou indirect issu d'une interruption, d'un dysfonctionnement quel qu'il soit, d'une suspension ou de la fin du Jeu, et ce pour quelque raison que ce soit, ou encore de tout dommage direct ou indirect qui résulterait, d'une façon quelconque, d'une connexion à Instagram. Il appartient à tout Participant de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels stockés sur son équipement informatique contre toute atteinte. La connexion de toute personne à Instagram ainsi que leur participation au Jeu se fait sous leur entière responsabilité.
        </p>
        <h2>Article 7 – ACCES ET INTERPRETATION DU REGLEMENT - MODIFICATIONS</h2>
        <h3> 7.1. Accès</h3>
        <p>
            Le règlement du Jeu est disponible et peut être obtenu sur simple demande à l’adresse du Jeu ci-dessous  :
        </p>
        <p>
            contact@drosphipresource.com
        </p>
        <p>
            Il ne sera répondu à aucune demande orale concernant le Jeu. Toute réclamation devra être adressée par écrit à La Société Organisatrice à l’adresse ci-dessus mentionnée avant le 15 octobre  2020. Passé ce délai, aucune réclamation ne sera acceptée.
        </p>
        <h3>7.2. Interprétation du règlement</h3>
        <p>
            Toute question d'application ou d'interprétation du règlement, ou toute question imprévue qui viendrait à se poser, sera tranchée souverainement par la Société Organisatrice.
        </p>
        <h3>7.3. Modifications</h3>
        <p>
            La Société Organisatrice se réserve le droit de prolonger, écourter, modifier ou annuler le Jeu à tout moment, et notamment en cas de force majeure, sans qu’il puisse être prétendu à aucune indemnité par les Participants.
        </p>
        <p>
            Le règlement modifié sera également accessible et peut être obtenu sur simple demande à l’adresse du Jeu indiquée en article 7.1 ci-dessus.
        </p>
        <h2>
            Article 8 – LOI APPLICABLE ET JURIDICTION
        </h2>
        <p>
            LE PRÉSENT RÈGLEMENT EST SOUMIS AU DROIT FRANÇAIS.
        </p>
        <p>
            TOUT LITIGE RELATIF À L’APPLICATION OU À L’INTERPRÉTATION DU PRÉSENT RÈGLEMENT RELÈVERA, À DÉFAUT DE RÈGLEMENT AMIABLE ENTRE LES PARTIES, DE LA COMPÉTENCE DES TRIBUNAUX FRANÇAIS.
        </p>
    </main>
{% endblock %}