
    <h2 class="footerTitle">Newsletter</h2>
    <form class="formFooterParent" method="post">
        <div class="wrap-input2 formFooterParent">
            <input placeholder="Inscrivez-vous" class="input2 formFooter" type="email" id='mail' name="mail">
            <span class="focus-input2"></span>
            <span class="validFormMessage" id="success" style="display: none;">Merci, <br>vous êtes bien enregistré.</span>
            <span class="errorFormMessage" id="error" style="display: none;">Oups! <br>Nous n'avons pas pu enregistrer votre email. </span>
        </div>
        <button class="submitFormFooter" onclick="sendForm()">Envoyer</button>
    </form>

