{% extends 'base.html.twig' %}


{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <main class="pageError">
        {% include 'commons/_headerLittle.html.twig' %}
        <h1 class="titreError">La page que vous cherchez est introuvable...</h1>
    </main>
{% endblock %}